<section id="house">

  <div class="houses">


    <div class="content gryffindor">
      <a [routerLink]="['/gryffindor','gryffindor']">
        <div class="title">
          <legend>Gryffindor</legend>
        </div>
        <div class="imagen">
          <img src="./../../../assets/img/Gryffindor_Pottermore.png" alt="">
        </div>
      </a>
    </div>

    <div class="content hufflepuff">
      <a [routerLink]="['/gryffindor','hufflepuff']" routerLinkActive="router-link-active">
        <div class="title">
          <legend>Hufflepuff</legend>
        </div>
        <div class="imagen">
          <img src="./../../../assets/img/Hufflepuff_ClearBG.png" alt="">
        </div>
      </a>
    </div>

    <div class="content ravenclaw">
      <a [routerLink]="['/gryffindor','Ravenclaw']" routerLinkActive="router-link-active">
        <div class="title">
          <legend>Ravenclaw</legend>
        </div>
        <div class="imagen">
          <img src="./../../../assets/img/RavenclawCrest.png" alt="">
        </div>
      </a>
    </div>

    <div class="content slytherin">
      <a [routerLink]="['/gryffindor','Slytherin']" routerLinkActive="router-link-active">
        <div class="title">
          <legend>Slytherin</legend>
        </div>
        <div class="imagen">
          <img src="./../../../assets/img/sty.gif" alt="">
        </div>
      </a>
    </div>
  </div>
</section>
